<section id="service" class="service-area section-big">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>WHAT WE <span>DO</span></h2>
                    <p>This is caption text details This is caption text details. First bring all she'd brought creature doesn't above from may to fowl creepeth greater night make</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pic-single-service">
                    <img src="assets/img/servicios/1.jpg" alt="">
                    <a href="#"><h3>Fast Loading</h3></a>
                    <p>Coderspoint has everything you need to get your new website up and running in no time all</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pic-single-service">
                    <img src="assets/img/servicios/2.jpg" alt="">
                    <a href="#"><h3>Easy to customize</h3></a>
                    <p>Coderspoint has everything you need to get your new website up and running in no time all</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pic-single-service">
                    <img src="assets/img/servicios/3.jpg" alt="">
                    <a href="#"><h3>Responsive</h3></a>
                    <p>Coderspoint has everything you need to get your new website up and running in no time all</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pic-single-service">
                    <img src="assets/img/servicios/4.jpg" alt="">
                    <a href="#"><h3>Creative Design</h3></a>
                    <p>Coderspoint has everything you need to get your new website up and running in no time all</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pic-single-service">
                    <img src="assets/img/servicios/5.jpg" alt="">                        
                    <a href="#"><h3>24/7 Support</h3></a>
                    <p>Coderspoint has everything you need to get your new website up and running in no time all</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pic-single-service">
                    <img src="assets/img/servicios/6.jpg" alt="">
                    <a href="#"><h3>Retina ready</h3></a>
                    <p>Coderspoint has everything you need to get your new website up and running in no time all</p>
                </div>
            </div>
        </div>
    </div>
</section>