<div id="client" class="client-area section-big">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2>OUR <span>PARTNERS</span></h2>
                    <p>This is caption text details This is caption text details. First bring all she'd brought creature doesn't above from may to fowl creepeth greater night make</p>
                </div>
            </div>
        </div>
        <div class="owl-client owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer autoHeight" style="height: 118px;"><div class="owl-wrapper" style="width: 3080px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-440px, 0px, 0px);"><div class="owl-item" style="width: 220px;"><div class="item text-center">
                <img src="assets/img/partners/1.png" alt="">
            </div></div><div class="owl-item" style="width: 220px;"><div class="item text-center">
                <img src="assets/img/partners/2.png" alt="">
            </div></div><div class="owl-item" style="width: 220px;"><div class="item text-center">
                <img src="assets/img/partners/3.png" alt="">
            </div></div><div class="owl-item" style="width: 220px;"><div class="item text-center">
                <img src="assets/img/partners/4.png" alt="">
            </div></div><div class="owl-item" style="width: 220px;"><div class="item text-center">
                <img src="assets/img/partners/5.png" alt="">
            </div></div><div class="owl-item" style="width: 220px;"><div class="item text-center">
                <img src="assets/img/partners/6.png" alt="">
            </div></div><div class="owl-item" style="width: 220px;"><div class="item text-center">
                <img src="assets/img/partners/7.png" alt="">
            </div></div></div></div>
    </div>
</div>