<app-main-header></app-main-header>
<app-main-nav></app-main-nav>
<app-main-banner></app-main-banner>
<app-nosotros></app-nosotros>
<app-servicios></app-servicios>
<app-proyectos></app-proyectos>
<app-accion></app-accion>
<app-testimonios></app-testimonios>
<app-blog></app-blog>
<app-partners></app-partners>

<!--<app-inicio></app-inicio> /*viene de pages/inicio ya que ahi moví los demás (banner, nosotros, etc*/-->

<router-outlet></router-outlet>

<app-main-footer></app-main-footer>
<app-copy></app-copy>