.form-control {
    display: block;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 5px 0px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: #000;
    outline: 0;
    box-shadow: none;
}

.contact-form .form-group {
    position: relative;
    border: 1px solid #bbb;
    border-radius: 2px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.contact-form .form-group:before {
    position: absolute;
    height: 45px;
    font-family: FontAwesome;
    top: 0;
    left: 0;
    width: 20px;
    text-align: center;
    line-height: 45px;
    color: #77be2d;
    font-size: 18px;
}

.contact-form #message {
    padding-top: 10px;
    height: 150px;
}

#submitButton {
  background: #77be2d none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 0px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 46px;
  padding: 0;
  margin-top: 10px;
  text-align: center;
  width: 185px;
  text-transform: capitalize;
}
#submitButton:hover{
  background: #fff none repeat scroll 0 0;
  border-color: #77be2d;
  color: #77be2d;
}
.success {
    background: #fff none repeat scroll 0 0;
    color: #50B948;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

.error {
    background: #fff none repeat scroll 0 0;
    color: #ff0000;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

.address-box {
    margin-bottom: 5px;
    padding-left: 40px;
}
.contact-area h3 {
    margin-top: 0px;
    color: #333;
    font-weight: 600;
}
.address-box i.fa {
    font-size: 20px;
    line-height: 30px;
    float: left;
    width: 40px;
    text-align: center;
    margin-left: -50px;
    color: #777;
}

.address-box p, .address-box p a {
    color: inherit;
    margin: 0;
}
.address-box p a{
    color: #77be2d;
}
.contact-info {
    margin-bottom: 30px;
}

.contact-info i.fa {
    font-size: 30px;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.contact-info i.fa:after {
    content: '';
    position: absolute;
    width: 70px;
    margin-left: -35px;
    height: 2px;
    left: 50%;
    bottom: 0px;
}

.contact-info a {
    color: inherit;
}
.gmap-area {
    padding-top: 0px;
}
#contactgoogleMap {
    width: 100%;
    height: 400px;
}


