<section id="testimonial" class="testimonial-area section-big">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2>CLIENT <span>TESTIMONIAL</span></h2>
                    <p>This is caption text details This is caption text details. First bring all she'd brought creature doesn't above from may to fowl creepeth greater night make</p>
                </div>
            </div>
        </div>         
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-list owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer autoHeight" style="height: 345px;"><div class="owl-wrapper" style="width: 3310px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 331px;"><div class="single-testimonial">
                        <div class="test-meta">
                            <img src="assets/img/testimonios/1.jpg" alt="">
                         </div>
                         <p><i class="fa fa-quote-left"></i>Serenity has taken possession of my entire soul these sweet morning of spring which I enjoy of spring which I enjoy with my whole heart.</p>
                        <h4>- Jone Doe</h4>
                    </div></div><div class="owl-item" style="width: 331px;"><div class="single-testimonial">
                        <div class="test-meta">
                            <img src="assets/img/testimonios/2.jpg" alt="">
                         </div>
                        <p><i class="fa fa-quote-left"></i>Serenity has taken possession of my entire soul these sweet morning of spring which I enjoy of spring which I enjoy with my whole heart.</p>
                        <h4>- Tom Harry</h4>
                    </div></div><div class="owl-item" style="width: 331px;"><div class="single-testimonial">
                        <div class="test-meta">
                            <img src="assets/img/testimonios/1.jpg" alt="">
                         </div>
                        <p><i class="fa fa-quote-left"></i>Serenity has taken possession of my entire soul these sweet morning of spring which I enjoy of spring which I enjoy with my whole heart.</p>
                        <h4>- Michael Jackson</h4>
                    </div></div><div class="owl-item" style="width: 331px;"><div class="single-testimonial">
                        <div class="test-meta">
                            <img src="assets/img/testimonios/2.jpg" alt="">
                         </div>
                        <p><i class="fa fa-quote-left"></i>Serenity has taken possession of my entire soul these sweet morning of spring which I enjoy of spring which I enjoy with my whole heart.</p>
                        <h4>- Rafael Smith</h4>
                    </div></div><div class="owl-item" style="width: 331px;"><div class="single-testimonial">
                        <div class="test-meta">
                            <img src="assets/img/testimonios/1.jpg" alt="">
                         </div>
                        <p><i class="fa fa-quote-left"></i>Serenity has taken possession of my entire soul these sweet morning of spring which I enjoy of spring which I enjoy with my whole heart.</p>
                        <h4>- Tom Harry</h4>
                    </div></div></div></div>
                <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div></div></div></div>
            </div>
        </div>
    </div>
</section>